<html>
<head>
  <title>Visual Regression Report</title>
  <style>
    .report-table { width: 100%; border-collapse: collapse; table-layout: fixed; }
    .report-table th, .report-table td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; }
    .report-table td { vertical-align: top; }
    .report-table img { max-width: 100%; height: auto; }
    .td-url { font-size: 0.8em;}
    #zoom {
      display: none;
      position: fixed;
      top: 1em;
      left: 1em;
      width: 40%;
      height: 40%;
      background-color: white;
      border: 1px solid blue;
      box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    }
    
    #zoom table {
      width: 100%;
      height: 100%;
      table-layout: fixed; /* Still important for cell width distribution */
      border-collapse: separate; /* Important: Enables border-spacing */
      border-spacing: 2px;            
      background-color: black;
    }

    #zoom td {
      overflow: hidden; /* Truncates the *content* of the cell */
      position: relative; /* Needed for absolute positioning of the image */
      border: 0; /* Border around the cell */
    }

    #zoom td img {
      position: absolute; /* Take image out of the document flow */
      top: 0;
      left: 0;
      width: auto; /* Image takes its natural width */
      height: auto; /* Maintain aspect ratio */
    }
  </style>
  <script src="report.js"></script>
</head>
<body>
  <div id="zoom">
    <table>
      <tr>
        <td>
          <img id="zoom-accepted" src="" alt="Diff">
        </td>
        <td>
          <img id="zoom-latest" src="" alt="Diff">
        </td>
        <td>
          <img id="zoom-diff" src="" alt="Diff">
        </td>
      </tr>
    </table>
  </div>
  <h1>Visual Regression Report - {{ diffCount }} differences found</h1>
  <table class="report-table">
    <tr>
      <th style="width: 10%;">URL</th>
      <th style="width: 30%;">Accepted screenshot</th>
      <th style="width: 30%;">Latest changes</th>
      <th style="width: 30%;">Difference</th>
    </tr>
    {% for diff in diffs %}
    <tr>
      <td style="width: 10%;" class="td-url"><a href="{{ diff.url }}" target="_blank">{{ diff.url }}</a></td>
      <td><img class="accepted" src="{{ diff.baseline }}" alt="Accepted screenshot"></td>
      <td><img class="latest" src="{{ diff.latest }}" alt="Latest changes"></td>
      <td><img class="diff" src="{{ diff.diff }}" alt="Difference"></td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
